* {
      box-sizing: border-box;
      font-family: 'Montserrat';
}

body {
      margin: 0;
      padding: 0;
}


/*  Header Section */

.heading-section {
      background-image: url('../img/Sections_background/header.jpg');
      background-attachment: fixed;
      background-size: cover;
      height: 650px;
      background-repeat: no-repeat;
      position: relative;
}

.heading-menu {
      height: 80px;
      background-color: rgba(98, 97, 92, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
}

.heading-container {
      max-width: 1200px;
      width: 1160px;
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.heading-icon {
      display: flex;
      justify-content: center;
      align-items: center;
}

.heading-icon-img {
  position: relative;
  width: 40px; 
  height: 23.09px;
  background-color: #18cfab;
  margin: 11.55px 0;
  display: flex;
  justify-content: center;
  align-content: flex-start;      
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-right: 5px;
}

#icon-H {
      transform: translateY(-3px);
}

.heading-icon-img:before,
.heading-icon-img:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.heading-icon-img:before {
  bottom: 100%;
  border-bottom: 11.55px solid #18cfab;
}

.heading-icon-img:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #18cfab;
}

.heading-icon-title {
      font-size: 18px;
      color: white;
      font-weight: 400;
}

#ham-title {
      margin-left: 1px;
      color: #18cfab;
      font-weight: 700;
}

.heading-menu-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 600px;
}

.heading-menu-nav-item {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
      height: 80px;
      color: #b8b8b8;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .1s ease-in;
}

.heading-menu-nav-item:hover {
      height: 82px;
      color: #18cfab;
      border-bottom: 2px solid #18cfab;
}

.heading-search {
      transform: translateX(-15px);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
}

.search-button {
      width: 17px;
      height: 17px;
      border: none;
      background: transparent;
      padding: 0;
      background-image: url('../img/search-button.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: all .1s ease;
}

.search-button:hover {
      background-image: url('../img//search-button-alternative.png');
}

.heading-main {
      height: calc(100% - 90px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.heading-main-title {
      display: flex;
      flex-direction: column;
      margin-bottom: 90px;
      align-items: center;
}

.heading-wordpress-title {
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      margin-bottom: 10px;
}

#wordpress-title {
      color: #3bb89e;
}

.heading-creative-title {
      font-size: 55px;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 10px;
}

.heading-small-title {
      font-size: 21px;
      color: #adadad;
      font-weight: 300;
      text-transform: capitalize;
}

.heading-main-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
}

.heading-btn {
      width: 170px;
      height: 60px;
      border-radius: 5px;
      border: none;
      border-top: 4px solid white;
      text-transform: uppercase;
      color: white;
      font-size: 12px;
      font-weight: 700;
      margin-right: 25px;
      cursor: pointer;
      transition: all .4s ease-out;
}

.heading-btn:hover {
      font-size: 14px;
}

#green {
      background-color: #18cfab;
}

#light-blue {
      background-color: #00cbf6;
}

/* ------------------------------------------------------- */


.block-of-squares {
      height: 280px;
      display: flex;
      align-items: flex-end;
}

.square-block {
      height: 275px;
      width: calc( 100% / 4);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.dark {
      background-color: #1c2a33;
      color: #18cfab;
}

/* .dark::before {
      content: '';
      width: calc( 100% / 4);
      height: 5px;
      background-color: #18cfab;
} */

.light {
      background-color: #18cfab;
      color: white;
}

/* .light::before {
      content: '';
      width: calc( 100% / 4);
      height: 5px;
      background-color: white;
} */

.light .square-block-img {
      height: 60px;
      margin-bottom: 20px;
}

.dark .square-block-img {
      height: 85px;
      margin-bottom: 20px;
}

.square-block-img img {
      max-height: 100%;
      width: auto;
}

.square-block-title {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
}

/* ---------------------------------------------------------- */

.our-services {
      height: 460px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
}

.our-services-container {
      max-width: 1200px;
      max-height: 100%;
      width: 900px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
}

.our-service-title {
      font-size: 31px;
      font-weight: 400;
      color: #4e4e4e;
      margin-bottom: 75px;
      text-transform: capitalize;
      height: 35px;
      position: relative;
}

.our-service-title::after {
      content: '';
      display: inline-block;
      width: 90px;
      height: 10px;
      position: absolute;
      top: 100%;
      background-image: url('../img/title-after.png');
      background-repeat: no-repeat;
      margin-top: 20px;
      left: 29%;
}

.our-services-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 35px);      
}

.our-services-tabs {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      max-width: 100%;
}

.tabs-title {
      width: calc(100% / 6);
      height: 54px;
      background-color: #f8fcfe;
      color: #717171;
      font-size: 13px;
      font-weight: 300;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #eeeeef;
      cursor: pointer;
      transition: all .4s ease;
      position: relative;
}

.tabs-title:hover {
      background-color: #18cfab;
      color: white;
}

.active {
      background-color: #18cfab;
      color: white;
      transition: all .4s ease;
}

.active::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      position: absolute;
      top: 100%;
      /* left: 25%; */
      border-style: solid;
      border-width: 15px 25px 0 25px;
      border-color: #18cfab transparent transparent transparent;
}

.tab-content {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
}

.tab-img {
      width: calc(100% / 6);
      max-height: 100%;
}

.tab-paragraph {
      width: calc((100% * 5 / 6) - 15px);
      color: #959697;
      font-size: 12px;
      font-weight: 300;
      text-align: justify;
}

/* ------------------------------------------------------- */

.justBuy-section {
      height: 300px;
      background-image: url('../img/Sections_background/section-2.jpg');
      background-size: cover;
      background-position-y: 50px;
      background-attachment: fixed;
}

.bg-shadow {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
}

.justBuy-section-container {
      width: 1160px;
      max-width: 1200px;
      height: 168px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}

.just-but-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 64px;
}

.just-buy-title {
      font-size: 28px;
      color: #18cfab;
      text-transform: uppercase;
      font-weight: 700;
}

.just-buy-desc {
      font-size: 12px;
      color: #abaaaa;
      font-weight: 400;
}

.purchase-btn {
      background-color: #18cfab;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px !important;
}

/* ------------------------------------------ */


.our-amazing-work {
      height: 800px;
      background-color: #f8fcfe;
      display: flex;
      justify-content: center;
      align-items: center;
}

.amazing-work-section-container {
      height: 700px;
      widows: 1160px;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}

.amazing-work-title {
      text-transform: capitalize;
      font-size: 24px;
      color: #4e4e4e;
      font-weight: 400;
      margin-bottom: 30px;
      position: relative;
}

.amazing-work-title::after {
      content: '';
      display: inline-block;
      width: 90px;
      height: 10px;
      position: absolute;
      top: 100%;
      background-image: url('../img/title-after.png');
      background-repeat: no-repeat;
      margin-top: 20px;
      left: 29%;
}

.amazing-work-tab-bar {
      display: flex;
      justify-content: center;
      align-items: center;
}

.amazing-work-tab {
      text-transform: capitalize;
      font-size: 12px;
      color: #717171;
      font-weight: 400;
      border: 1px solid #ebebeb;
      background-color: #fff;
      padding: 15px;
      border-left: none;
      cursor: pointer;
}

.active-tab {
      color: #18cfab;
      border-top: 2px solid #18cfab;
}

.amazing-work-tab:nth-of-type(1) {
      border-left: 1px solid #ebebeb;
}

.amazing-work-content {
      width: 800;
      display: flex;
      justify-content: center;
      align-items: center;
}

.amazing-work-tab-content {
      height: 390px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
}

.amazing-work-content-row {
      height: 130px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.amazing-work-content-item {
      height: 100%;
      width: 200px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      transition: all .4s ease-in-out;
}

.amazing-work-item-hover {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(248, 252, 254, 0.95);
      position: absolute;
      opacity: 0;
      border-top: 2px solid #18cfab;
}

.hover-icon-container {
      width: 60px;
      height: 30px;
      overflow: hidden;
      margin-bottom: 10px;
}

.hover-icon {
      height: 100%;
      object-fit: contain;
      object-position: center;
}

.creative-design {
      font-size: 10px;
      color: #18cfab;
      font-weight: 700;
      text-transform: uppercase;
}

.hover-type {
      font-size: 8px;
      color: #8a8a8a;
      font-weight: 400;
      text-transform: capitalize;
}

.amazing-work-content-item:hover .amazing-work-item-hover {
      opacity: 1;
}

.amazing-work-content-item img {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
}

.load-more-btn {
      margin-top: 20px;
      width: 120px;
      height: 45px;
      background-color: #18cfab;
      color: white;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
}


/* ----------------------------------------- */


.breaking-news {
      height: 800px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #e1e1e1;
}

.breaking-news-section-container {
      height: 80%;
      width: 800px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}

.breaking-news-title-part {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.breaking-news-title {
      font-size: 26px;
      text-transform: capitalize;
      color: #4e4e4e;
      position: relative;
}

.breaking-news-title::after {
      content: '';
      display: inline-block;
      width: 90px;
      height: 10px;
      position: absolute;
      top: 100%;
      background-image: url('../img/title-after.png');
      background-repeat: no-repeat;
      margin-top: 20px;
      left: 29%;
}

.breaking-news-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 500px;
}

.breaking-news-content-row {
      display: flex;
      justify-content: space-between;
      height: calc((100% - 25px) / 2);
}

.breaking-news-item {
      position: relative;
      display: flex;
      flex-direction: column;
      width: calc((100% - 90px) / 4);
      height: 100%;
      cursor: pointer;
      transition: all .4s ease;
}

.breaking-news-item:hover .breaking-news-item-date {
      background-color: #18cfab;
}

.breaking-news-item:hover .breaking-news-item-desc-title {
      color: #18cfab;
      font-size: 17px;
}

.breaking-news-item-img {
      height: 75%;
      width: 100%;
      overflow: hidden;
      background-color: red;
}

.breaking-news-item-img img {
      object-fit: cover;
      object-position: bottom;
}

#news-2 {
      transform: translateY(-1px);
}

.breaking-news-item-desc {
      display: flex;
      height: 25%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: #f8fcfe;
}

.breaking-news-item-desc-title {
      font-size: 15px;
      text-transform: capitalize;
      font-weight: 600;
      color: #717171;
      margin-bottom: 15px;
      margin-left: 12px;
      transition: all .4s ease-out;
}

.breaking-news-item-desc-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 12px;
      width: 60%;
}

.breaking-news-item-author {
      font-size: 10px;
      text-transform: capitalize;
      color: #777777;
      position: relative;
}

.breaking-news-item-comment {
      font-size: 10px;
      color: #777777;
}

.breaking-news-item-author::after {
      content: '';
      width: 1px;
      height: 11px;
      background-color: #777777;
      position: absolute;
      margin-left: 15px;
}

.breaking-news-item-date {
      position: absolute;
      top: 0;
      right: 0;
      height: 55px;
      width: 55px;
      background-color: #203e38;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all .4s ease-out;
}

.item-date-day {
      font-size: 12px;
      color: white;
      font-weight: 400;
}

.item-date-month {
      font-size: 12px;
      color: white;
      font-weight: 400;
      text-transform: capitalize;
}

/* ------------------------------------ */


.customer-feedback {
      height: 600px;
      background-image: url('../img/Sections_background/section-3.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
}

.customer-feedback-shadow {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color:  rgba(0,0,0, 0.4);
      height: 100%;
}

.customer-feedback-container {
      height: 90%;
      width: 900px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
}

.customer-feedback-title {
      font-size: 30px;
      color: white;
      font-weight: 400;
      position: relative; 
      margin-bottom: 60px;
}

.customer-feedback-title::after {
      content: '';
      display: inline-block;
      width: 90px;
      height: 10px;
      position: absolute;
      top: 100%;
      background-image: url('../img/title-after.png');
      background-repeat: no-repeat;
      margin-top: 20px;
      left: 40%;
}

.customer-feedback-decorative-img {
      width: 45px;
      height: 45px;
      overflow: hidden;
}

.customer-feedback-decorative-img img {
      height: 100%;
      width: 900px;
      object-fit: contain;
      object-position: center;
}

.customer-feedback-carousel-container {
      height: 90%;
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 60px; 
}

.customer-feedback-area {
      height: 100%;
      width: auto;
      display: flex;
}

.customer-feedback-content {
      height: 100%;
      width: 900px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
}

.feedback-content {
      font-size: 13px;
      color: #5f6f73;
      font-weight: 400;
      text-align: center;
}

.customer-info {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.customer-name {
      font-size: 15px;
      color: #16b89a;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
}

.customer-job {
      font-size: 13px;
      color: #5f6f73;
      font-weight: 400;
}

.customer-img-outher-shadow {
      height: 145px;
      width: 145px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(31, 217, 181, 0.2);
      border: 1px solid rgba(168, 162, 162, 0.4);
}

.customer-img-solid-shadow {
      height: 125px;
      width: 125px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #18cfab;
}

.customer-img {
      height: 122px;
      width: 122px;
      border-radius: 100%;
      overflow: hidden;
}

.customer-img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
}

.customer-feedback-multiple-slider {
      width: auto;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.customer-img-outher-shadow-small {
      height: 42px;
      width: 42px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(31, 217, 181, 0.2);
      margin-right: 10px;
      transition: all .03s ease-in-out;
}

.customer-img-solid-shadow-small {
      height: 38px;
      width: 38px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(31, 217, 181, 0.2);
}

.customer-img-small {
      height: 36px;
      width: 36px;
      border-radius: 100%;
      overflow: hidden;
}

.customer-img-small img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
}

.slider-btn {
      height: 23px;
      width: 23px;
      background-color: transparent;
      border: 1px solid white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s ease;
      margin-right: 10px;
}

.slider-btn:hover {
      background-color: #18cfab;
      border-color: #18cfab;
}

/* ----------------------------------------------- */

.footer {
      height: 50px;
      width: 100%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}

.footer-bg {
      width: 100%;
      height: 90%;
      background-color: #22353f;
      display: flex;
      justify-content: center;
      align-items: center;
}

.footer-title {
      font-size: 12px;
      font-weight: 300;
      color: #aeaeae;
      display: flex;
}

.footer-first-part {
      margin-right: 16px;
      position: relative;
}

.footer-first-part span {
      color: #18cfab;
}

.footer-first-part::after {
      content: '';
      width: 1px;
      height: 15px;
      background-color: #777777;
      position: absolute;
      margin-left: 8px;
}